@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik&family=Titillium+Web&display=swap');

body {
    font-family: 'Roboto', sans-serif;



    /* font-family: 'Akaya Telivigala', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Titillium Web', sans-serif; */
}

:root {
    --primary: rgb(228, 49, 42);
    --secondary: rgb(7, 7, 7);
    --light: #2f3640
}

header {
    width: 100%;
    height: 100vh;
}

.nav1 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 2px 0px 3px gray;
}

.nav .left {
    flex-basis: 50%;
    letter-spacing: 2px;
}

.nav1 .left a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    margin: 0px 5px;

}

.right {
    flex-basis: 50%;
    text-align: end
}

.right i {
    font-size: 20px;
    margin: 0px 15px;
    background-color: var(--primary);
    color: white;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.nav1 .right i:hover {
    transform: rotate(360deg);
}

.nav2 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.nav2 .nav2-left,
.nav2 .nav2-center,
.nav2 .nav2-right {
    flex-basis: 30%;
    margin: auto;
    cursor: pointer;

}

.nav2 .nav2-left i {
    margin-left: 10px;
}

.nav2 .nav2-center h1 {
    color: var(--primary);
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: bold;
}

.nav2 .nav2-center h1 span {
    color: var(--secondary);
}

.nav2 .nav2-center p {
    color: gray;
    font-size: 15px;
}

.nav2 .nav2-right i {
    margin: 5px;
}

.nav3 {
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.nav3 ul {
    list-style: none;
    text-align: center;
}

.nav3 ul li {
    display: inline-block;
    width: 150px;
    position: relative;
    z-index: 99;
}

.nav3 ul li a {
    text-decoration: none;
    font-weight: 500px;
    display: block;
}

.nav3 ul li a:hover {
    color: var(--primary);
}

.nav3 ul li i {
    color: var(--primary);
    margin: 0px 5px;
}

.nav3 ul ul {
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
}

.nav3 ul ul li {
    background-color: white;
    border-bottom: 1px solid var(--primary);
}

.nav3 ul li:hover>ul {
    display: block;
}

.featured {
    width: 100%;
    height: 80vh;
    background: url('images/shopping2.jpg');
    background-size: cover;
    background-position: top;

}

.featured-text {
    max-width: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 5px;
    font-family: 'Akaya Telivigala';
}

.featured-text button {
    padding: 12px 20px;
    border: 2px solid;
    outline: none;
    background-color:transparent;
    margin-top: 20px;
    margin-right: 20px;
    color: black;
    font-weight: 400;
    
    font-size: 20px;
}

.latest {
    padding: 120px 100px;
}

.product-intro {
    text-align: center;
}

.product-intro h1 {
    color: var(--primary);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: border;
}

.product-intro h1 span {
    color: var(--secondary);
}

.product-intro p {
    color: gray;
    margin: 5px 0px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.card-container .card {
    cursor: pointer;
    width: 20%;
    padding: 0.8rem;
    position: relative;
    
    
}

.card img {
    width: 100%;
    height: 30vh;
    transition: 0.5s ease-in-out;
}

.card i {
    color: goldenrod;
}

.card button {
    color: white;
    background-color: var(--secondary);
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px 20px;

}

.card:hover img,
.card:hover h1 {
    width: 80%;
    color: var(--primary);
}

.card::before {
    content: '20% off';
    width: 25%;
    height: 25px;
    line-height: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    padding: 0px 4px;
    transform: rotate(-20deg);
}

.trends {
    padding: 50px 100px;
    background-color: rgb(253, 253, 253);
}

.trends .swiper {
    width: 100%;
}

.trends .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.trends .swiper-slide img {
    display: block;
    width: 100%;
}

footer {
    background-color: var(--secondary);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;

}

footer div {
    flex-basis: 30%;
}

footer h1 {
    letter-spacing: 0.5rem;
}

footer h1 span {
    color: var(--primary);
}

footer p {
    font-size: 1rem;
}

footer i {
    margin: 0px 5px;
}

#sidenav {
    display: none;
    width: 0px;
}
.collapse{
    width: 250px !important;
}
#menubar {
    display: none;
}
@media only screen and (max-width: 480px){
    .card-container .card{
        width: 100% !important;
    }
}
@media only screen and (min-width: 480px) and (max-width:768px) {
    .card-container .card{
        width: 45% !important;
    }
}

@media only screen and (max-width:768px) {

    #sidenav {
        display: block;
    }
    .featured-text {
        top: 35% !important;
    }

    #menubar {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
        z-index: 99;
        background-color: var(--primary);
        font-size: 2rem;
        padding: 20px 10px;
        animation: animate 5s ease infinite;
    }

    @keyframes animate { 
        0% {
            background-color: var(--secondary);
        }

        100% {
            background-color: var(--primary);
        }
    }

    .nav1 {

        position: relative;
        z-index: 2;
        background: white;
    }

    .right i {
        font-size: 10px;
        margin: 0px 5px;
    }

    .nav2 {
        width: 100%;
        height: 80px;


    }

    .nav2 .nav2-left i {
        margin-left: 5px;
    }

    .nav2 .nav2-center h1 {
        color: var(--primary);
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: bolder;
    }

    .nav2 .nav2-center h1 span {
        color: var(--secondary);
    }

    .nav2 .nav2-center p {
        color: gray;
        font-size: 10px;
    }

    .nav2 .nav2-right i {
        margin: 0px 3px;

    }

    .nav3 {
        display: none;
    }

    .featured {
        background-attachment: fixed;
    }

    .latest {
        padding: 0px 50px;
    }

    .product-intro {
        text-align: center;
    }

    .product-intro h1 {
        color: var(--primary);
        letter-spacing: 0.2rem;
        font-size: 2rem;
        font-weight: border;
    }

    .product-intro h1 span {
        color: var(--secondary);
    }

    .product-intro p {
        color: gray;
        margin: 5px 0px;
    }

    /* .card-container .card {
        width: 50%;
        padding: 0.8rem;
        position: relative;
        text-align: center;
    } */

    .card img {
        width: 100%;
        transition: 0.5s ease-in-out;
        height: 100% !important;
    }

    .card i {
        color: goldenrod;
    }

    .card button {
        color: white;
        background-color: var(--secondary);
        border: 1px solid black;
        margin-top: 10px;
        padding: 5px 20px;

    }

    .trends {
        padding: 20px 30px;
        background-color: rgb(253, 253, 253);
        overflow: hidden;
    }


    .trends .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
    }

    .trends .swiper-slide img {
        display: block;
        width: 100%;
    }

    footer div {
        flex-basis: 50%;
        margin: 10px 0px;
    }

    #sidenav {
        width: px;
        height: 100vh;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: var(--light);
        display: block;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    #sidenav ul {
        list-style: none;

    }

    #sidenav ul li {
        display: block;
        width: 200px;
        position: relative;
        z-index: 99;
        margin: 5px 10px;
    }

    #sidenav ul li a {
        text-decoration: none;
        color: white;
        font-weight: 500px;
        display: block;
        font-size: 20px;
        padding: 10px 20px;
    }

    #sidenav ul li a:hover {
        color: var(--primary);
    }

    #sidenav ul li i {
        color: white;
        margin: 0px 5px;
    }

    #sidenav ul ul {
        position: absolute;
        top: 45px;
        left: 0;
        display: none;
    }

    #sidenav ul ul li {

        border-bottom: 1px solid white;
    }

    #sidenav ul li:hover>ul {
        display: block;
    }


}